<div class="content">
  <h3>Routing</h3>
  <p>
    In a single-page app (SPA), you change what the user sees by showing or
    hiding portions of the display that correspond to particular components,
    rather than going out to the server to get a new page.
  </p>

  <p>
    As users perform application tasks, they need to move between the different
    views that you have defined
  </p>

  <p>
    To handle the navigation from one view to the next, you use the Angular
    Router. The Router enables navigation by interpreting a browser URL as an
    instruction to change the view.
  </p>
</div>
