<div class="header">
  <h2>Angular Lunch and Learn</h2>
  <button
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Home
  </button>
  <button
    routerLink="/first-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    First Component
  </button>
  <button
    routerLink="/ngmodule-vs-standalone"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Standalone Components
  </button>
  <button
    routerLink="/router-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Angular Router
  </button>
  <button
    routerLink="/input-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Component Inputs
  </button>
  <button
    routerLink="/service-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    Services
  </button>
  <button
    routerLink="/rxjs-component"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    RxJS and Observables
  </button>
</div>
