.container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.content {
  flex-grow: 1; 
  flex-shrink: 0; 
  flex-basis: auto; 
  overflow: auto;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-footer {
  position: sticky;
  top: 0;
  z-index: 1000;
}
