<div class="content">
  <h3>Standalone components</h3>
  <p>
    In Angular 19, standalone components are a new feature that allows
    components to be used without being declared in an NgModule. Standalone
    components can directly import other standalone components, directives, and
    pipes. NgModules are still useful for larger applications where modularity
    and lazy loading are important.
  </p>

  <a
    href="https://www.rainerhahnekamp.com/en/angular-standalone-components-and-their-impact-on-modularity/"
    >Component Pictures</a
  >
</div>
