<div class="content">
  <h3>
    <a href="https://rxjs.dev/">RxJS</a> and
    <a href="https://rxjs.dev/guide/observable">Observables</a>
  </h3>
  <p>
    Even though this isn't natively a part of
    <a href="https://angular.dev/guide/http/making-requests#http-observables"
      >Angular</a
    >, its arguabley the most important part of angular
  </p>
  <ul>
    <li>
      RxJS is a library for reactive programming using Observables, to make it
      easier to compose asynchronous or callback-based code.
    </li>
    <li>
      Observables are a blueprint for creating streams and plumbing them
      together with operators to create observable chains.
    </li>
    <li>
      A Pipeable Operator is essentially a pure function which takes one
      Observable as input and generates another Observable as output.
      Subscribing to the output Observable will also subscribe to the input
      Observable.
    </li>
    <li>
      Some of the most common operators are
      <a href="https://rxjs.dev/api/operators/map">map</a> and
      <a href="https://rxjs.dev/api/operators/filter">filter</a>
    </li>
  </ul>
  <pre class="code-block">
    <code [innerHTML]="snippet"></code>
  </pre>
</div>
