.content {
  background-color: rgb(235, 209, 63);
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

.code-block {
  background-color: rgb(232, 232, 232);
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  width: 400px;
}